ROUTER_DISPATCHER_AGENT_ENVIRONMENT=local
ROUTER_DISPATCHER_AGENT_MAX_ITERATIONS=4
ROUTER_DISPATCHER_AGENT_MAX_EXECUTION_SECONDS=5
ROUTER_DISPATCHER_AGENT_TOOL_TIMEOUT_SECONDS=1
ROUTER_DISPATCHER_AGENT_TOOL_RETRY_LIMIT=1
ROUTER_DISPATCHER_AGENT_CIRCUIT_BREAKER_THRESHOLD=2

